

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	
	
	
}
body {
	line-height: 1;
	font-family:arial;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}


}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


		
header#site-header {
  position:relative; height:80px;
}

h1{
	color:red;
}

#icon1{
	float:right;
	padding:20px;
}

#icon2{
	float:right;
	padding:20px;
}

#icon3{
	float:right;
	padding:20px;
}

#site-header h1 a { 
	text-indent:-9999px;    
    position:absolute;
    width:300px; height:80px;
    background:url(logo.png) no-repeat left top;
}
nav#top-nav { 

	right:0px;
	top:0px; 
}

nav#main-menu {
	 height:30px;
	 background-color:saddlebrown;
}

nav#main-menu ul li { display:block; float:left; padding:0 5px; }
nav#main-menu ul li a { display:block; color:white; padding:5px 5px; background-color:none; }


 
aside#sidebar {
	 float:right;
	 width:400px;
 }

footer#site-footer { 
	   clear:both; 
	   background-color:saddlebrown;
	   position:relative;
       bottom:0;
	   width:100%;
	   height:200px;
	  
   }
   
   #site-header{
	   margin:0 auto;
	    background-color:tan;
		width:500px;
   }
   #site-wrapper{
	   background-color:tan;
   }

   #menu-wrapper{
   	 background-color:saddlebrown;
   }
   
   #main-menu{
	   margin:0 auto;
	   width:500px;
   }
   
   #page{
	   float:left;
	   width:300px;
   }
   
   #content-wrapper{
	  
   }
   

