

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;	
}
	body {
	
	font-family:arial;
	margin:0 auto;
	width:100%;

}

	ol, ul, a {
	list-style: none;
}

	blockquote, q {
	quotes: none;
}

	table {
	border-collapse: collapse;
	border-spacing: 0;
}

   #site-wrapper{
   background-color:#ECF2D5;
   height:150px; 
}

	#site-header{ 
    position:absolute;
	top:0;
	left:500px;
	height:150px;
	width:800px;
    background:url(logo.png) no-repeat left top;
	background-color::#ECF2D5;
}
	#logo{
	position:absolute;
	bottom:0;
	left:0;
}
	#logo-link{
	visibility: hidden;
}

	#top-nav { 
	text-decoration: none;
	color:#8A5C36;
	position:absolute;
	top:5px;
	right:0;
}

   #menu-wrapper{
	   position:relative;
   background-color:#8A5C36;
   position:relative;
   top:0px;
   height:100px;
  
}
	
#main-menu{
	padding:10px;
	position:relative;
	left:500px
}

#top-links a{
	float:left;
	padding-top:20px
	display:inline;
	color:white;
	width:200px;
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
}
   #content{
	position:absolute;
	left:450px;
	width:850px;
	height:1px;
	
}

   #page{
	   float:left;
	   width:400px;
	   padding:50px;
}

	#sidebar {
	position:absolute;
	right:0;
	 text-decoration: none;
	 float:right;
	 line-height:1.5em;
	 padding:50px;
	 width:200px;
}



	h1{
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
	color:#8A5C36;
}

	h2{
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	color:#8A5C36;
}

	h3{
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	color:#CDC4B0;
}

	#icon1{
	float:right;
	padding:10px;
}

	#icon2{
	float:right;
	padding:10px;
}

	#icon3{
	float:right;
	padding:10px;
}

	#footer-wrapper{
	color:white;
	height:250px;
	padding-top:100px;
	
}
    
	#site-footer { 
   background-color:#8A5C36;
   position:absolute;
   bottom:0;
   width:100%; 
   height:200px;
}

#footer-contact{
	position:absolute;
	left:500px;
	float:left;
	width:200px;
	padding-top:15px;
	line-height:1.5em;
	
}

#footer-follow{
	padding-top:15px;
	position:absolute;
	right:950px;

	
}
   
#pets{
	margin-top:10px;
}


a{
	text-decoration:none;
	
}

   

   
  